<html>
    <body>
        <div>
            Stock Symbol<input type="text" name="stock">
            <br>
            <button onclick="myFunction()">Click me</button>
            <p id="demo"></p>
            <!--
                Frequency<input list="frequency" name="frequency">
                <datalist id="frequency">
                    <option value="day">
                    <option value="week">
                    <option value="month">
                </datalist>
                <br>
                Start Date<input type="text" name="startDate" value="YYYY-MM-DD">
                <br>
                End Date<input type="endDate" name="endDate" value="YYYY-MM-DD">
                <br>
            -->
        </div>
    </body>

    <script>
        function myFunction() {
          document.getElementById("demo").innerHTML = "Hello World";
        }
    </script>
</html>